@import "../node_modules/bulma/css/bulma.css";


.space-children  {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.space-children > * {
    margin-top: 20px;
}


.Highligtheffektt {
    background-color: #ff7300;
    border: #ba8888;
}

.Highligtheffektt:hover {
    color: #00ffd5;
    background-color: #ff00c8;
    border:#fd0303 ;
}

.Highligtheffektab {
    border: #fffb00;
}

.Highligtheffektab:hover {
    color: aquamarine;
    background-color: blueviolet;
    border:cadetblue; 
}

.Highligtheffektt:hover + .HighligtheffektwegA {
    display: contents;
}

.Highligtheffektab + .HighligtheffektwegB {
    display: contents;
}

.HighligtheffektwegA {
    display: none;
}

.HighligtheffektwegB {
    display: none;
}

.Übergang {
    transition: all 0,3s ease 0s;
}



body {
    
    width: 100vw;
    height: 100vh;
    background: #070707;
    color: rgb(250, 246, 246);
}

* .m-1 {
    margin: 1rem
}

.Highligtheffekt {
    background-color: darkslateblue;
    color: #f9f3f3;
    border: 5px solid #0e4d0c; 
    text-align: center; 
    font-size: 16px;
    transition: 0.4s;
    display: block;
    margin: 40px; 
    width: 200px;   
}

.Startseite {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #f1f3f2;
    background: #cb5050;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.Startseite.before {
    content: 'blub';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    border-radius: 10px;
}
.Startseite:active {
    color: #0d0c0c
}
.Startseite:active:after {
    background: transparent;
}
.Startseite:hover:before {
    opacity: 1;
}
.Startseite:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #cb6767;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.HelleSeite {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #3407fd;
    background: #4a03ff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.DunkleSeite {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fd0808;
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.ToDoApp {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #f7f6fb;
    background: #0f0f0f;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.HelleSeite:before {
    content: 'blub';
    background: linear-gradient(45deg, #0d00ff, #0026ff, #5100ff, #0d00ff, #0000ff, #002bff, #5100ff, #4800ff, #3300ff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    border-radius: 10px;
}
.DunkleSeite:before {
    content: 'blub';
    background: linear-gradient(45deg, #ff0000, #f10202, #f50101, #ff0000, #fd0303, #f00101, #ee0101, #ff0000, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    border-radius: 10px;
}
.ToDoApp:before {
    content: 'blub';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    border-radius: 10px;
}
.HelleSeite:active {
    color: #000
}
.DunkleSeite:active {
    color: #000
}
.ToDoApp:active {
    color: #000
}
.HelleSeite:active:after {
    background: transparent;
}
.DunkleSeite:active:after {
    background: transparent;
}
.ToDoApp:active:after {
    background: transparent;
}

.HelleSeite:hover:before {
    opacity: 1;
}
.DunkleSeite:hover:before {
    opacity: 1;
}
.ToDoApp:hover:before {
    opacity: 1;
}
.HelleSeite:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.DunkleSeite:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.ToDoApp:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.Löschenbutton {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.Löschenbutton:before {
    content: 'blub';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    border-radius: 10px;
}
.Löschenbutton:active {
    color: #000;
}
.Löschenbutton:active:after {
    background: transparent;
}
.Löschenbutton:hover:before {
    opacity: 1;
}
.Löschenbutton.after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}











@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} 